@import '../../variables/variables';

.collectionHeader {
  text-align: left;
  width: 640px;
  height: 80px;
  padding: 8px;
  margin: 24px;
  &_title {
    border-bottom: 2px solid $main;
    padding-bottom: 4px;
    font-size: 1.2rem;
  }
  &_description {
    font-size: 0.8rem;
    color: $dark-gray;
  }
}

@media screen and (max-width: 768px) {
  .collectionHeader {
    width: 65vw;
  }
}

@media screen and (max-width: 425px) {
  .collectionHeader {
    padding: 0;
    margin: 8px 8px 8px -8px;
    &_title {
      font-size: 1rem;
    }
    &_description {
      font-size: 0.7rem;
    }
  }
}