@import '../../variables/variables';

.collection {
  background-color: lighten($main, 51);
  // box-shadow: 2px 2px 4px $gray;
  // border-radius: 8px;
  margin: -1.2rem;
  padding: 0 24px;
  &_recommend {
    width: 100%;
    &_name {
      display: inline-block;
      width: 248px;
      height: 1rem;
      color: $main;
      font-weight: $bold-weight;
    }
    &_price {
      display: inline-block;
      // position: relative;
      // left: 48px;
      width: 60px;
      height: 1rem;
    }
    &_shop {
      display: inline-block;
      position: relative;
      top: -16px;
      margin: 0;
      color: $accent;
    }
  }
}