@import '../../variables/variables';

.myModal {
  &_openButton {
    position: fixed;
    z-index: 10;
    top: 80vh;
    left: 90vw;
    background-color: $main;
    color: $white;
    border: 4px solid $main;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    font-size: 32px;
    line-height: 72px;
    padding: 0;
    margin: 0;
    box-shadow: 4px;
    &_disable {
      transition: 0.5s;
      display: none;
    }
    &:hover {
      background-color: $white;
      color: $main;
      border: 4px solid $main;
    }
  }
  &_closeButton {
    background-color: $light-main;
    padding: 24px 24px 8px 24px;
  }
}

@media screen and (max-width: 768px) {
  .myModal {
    &_openButton {
      width: 64px;
      height: 64px;
      line-height: 40px;
      font-size: 32px;
    }
  }
}

@media screen and (max-width: 425px) {
  .myModal {
    &_openButton {
      top: 90vh;
      left: 85vw;
      width: 48px;
      height: 48px;
      line-height: 24px;
      font-size: 24px;
    }
  }
}

