@import '../../variables/variables';

.formWrapper {
  width: 480px;
  .collection {
    border: 2px solid $gray;
    border-radius: 8px;
    padding: 40px 24px 16px;
    &_recommend {
      display: flex;
      width: 100%;
      &_name {
        padding-right: 40px;
      }
    }
  }

  .marker {
    color: $main;
    font-weight: $bold-weight;
    border-bottom: 2px solid $gray;
    margin-top: 40px;
  }

  .submitButton {
    position: relative;
    left: calc(100% - 80px);
    width: 80px;
    height: 40px;
    margin-top: 40px;
    color: $white;
    background-color: $main;
    font-size: 1rem;
    font-weight: $bold-weight;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
}