// colors
$black: #333;
$white: #F7F7F7;
$gray: lighten($black, 50);
$dark-gray: lighten($black, 30);
$main: #B15235;
$light-main: lighten($main, 51);
$accent: #405E1C;
$accent2: #274E55;

// font-weights
$normal-weight: 400;
$bold-weight: 800;